set folder=~/Maildir
set from="svend@ciffer.net"
set postponed=+.Drafts
set spoolfile=+
mailboxes `find -H ~/Maildir -type d -name ".*" \! -name ".git" \! -name ".notmuch" \! -name ".Drafts" \! -name ".Spam" \! -name ".Trash" -printf "+'%f' "`
