set folder=~/mail/uw
set from="svends@uw.edu"
set pgp_sign_as=0xEF6CC3C1
set query_command="~/bin/uw-email-search '%s'"
set smtp_url="smtp://svends@smtp.washington.edu:587/"
set spoolfile=+
mailboxes `find -H ~/mail/uw -type d -name ".*" \! -name ".junk-mail" -printf "+'%f' "`
